@page "/importexcel"
@attribute [StreamRendering]
@inject ILogger<Importexcel> Logger
@inject IWebHostEnvironment Environment

@using IronXL;
@using System.Data;
@using System.IO;
@using Microsoft.AspNetCore.Hosting;

<PageTitle>Importar Excel</PageTitle>

<h1>Importar Excel</h1>

<p>This component demonstrates showing data.</p>

<dl>
    <dt>
        <label for="fileInput">File</label>
    </dt>
    <dd>
        <InputFile id="fileInput" OnChange="@OpenExcel" accept=".xlsx" multiple="false"></InputFile>
    </dd>
</dl>





@code {

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task OpenExcel(InputFileChangeEventArgs e)
    {
        try
        {
            long maxFileSize = 1024 * 1024 * 15; //15 MB
            foreach (var file in e.GetMultipleFiles(1))
            {
                string rootpath = System.IO.Path.Combine(System.IO.Directory.GetCurrentDirectory(), "FileUploads");
                Logger.LogInformation(rootpath);

                var trustedFileNameForFileStorage = file.Name; //Path.GetRandomFileName();
                Logger.LogInformation(trustedFileNameForFileStorage);

                var path = Path.Combine(rootpath, trustedFileNameForFileStorage);
                Logger.LogInformation(path);

                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Processing error");
        }
    }
}
